				@font-face {
					font-family: 'century-regular';
					src: url('./6420Century-Regular.woff2') format('woff2'),
						url('./6420Century-Regular.woff') format('woff');
						  font-display: auto;
				}

				.century-regular{font-family: 'century-regular' !important;}

				.et_gf_century-regular{background:none !important;font-family:century-regular;text-indent:0 !important;font-size:25px;}

		